<div class="diplomaturaContainer">
    <div class="diplomaturaHeader">
        <div class="diplomaturaTextContainer">
            <div class="certificadasText">
                <h1>Nuestras</h1>
                <h1><span>Diplomaturas</span></h1>
                <h4></h4>
            </div>
            <div class="certificadasBox">
                <div class="certificateIcon">
                    <img src="{{certificateIconPath}}">
                </div>
                <div class="certificateText">
                    <p>CERTIFICADAS POR LA</p>
                    <p>UNIVERSIDAD DE FLORES</p>
                    <p><span style="color: #8FC88A;">UFLO</span></p>
                </div>

            </div>
        </div>
        
        <div class="diplomaturaIconContainer">
            <img src="{{diplomaHeaderImage}}">
        </div>
    </div>

    <div class="diplomaturaInformation">

        <div class="diplomaturaInfoContainer">
            <div class="textContainer">
                <h1>¿Buscas ser titular docente?</h1>
                <h5 class="firstParagraph">El puntaje que te otorga cada
                    <span style="font-weight: 700;">diplomatura</span> depende de tu
                    ubicación geográfica para ejercer
                    la docencia.</h5>
                <h5>Te contamos para qué sirven y cuántos
                    puntos otorga cada una.</h5>
            </div>
        </div>
        
        <div class="diplomaturaMapaContainer">
           <div class="mapa">
                <img src="{{mapaDiplomaturaImage}}">
           </div>
           <div class="puntos">
                <div class="titleBadge badge">
                    <p>Si vivis en:</p>
                </div>

                <div class="cityBadge badge" matBadge="+3 pts" matBadgePosition="below after">
                    <div class="number"><span>1</span></div>
                    <p>Buenos Aires</p>
                </div>

                <div class="cityBadge badge" matBadge="+2 pts" matBadgePosition="below after">
                    <div class="number"><span>2</span></div>
                    <p>CABA</p>
                </div>

                <div class="cityBadge badge" matBadge="+28 pts" matBadgePosition="below after">
                    <div class="number"><span>3</span></div>
                    <p>Santa Fe</p>
                </div>

                <div class="cityBadge badge" matBadge="+1.50 pts" matBadgePosition="below after">
                    <div class="number"><span>4</span></div>
                    <p>Santa Cruz</p>
                </div>

                <div class="cityBadge badge" matBadge="+0.20 pts" matBadgePosition="below after">
                    <div class="number"><span>5</span></div>
                    <p>Rio Negro</p>
                </div>

                <div class="cityBadge badge" matBadge="+0.75 pts" matBadgePosition="below after">
                    <div class="number"><span>6</span></div>
                    <p>Neuquen</p>
                </div>

                <div class="cityBadge badge" matBadge="+2 pts" matBadgePosition="below after">
                    <div class="number"><span>7</span></div>
                    <p>San Juan</p>
                </div>

           </div>
        </div>

    </div>

    <div class="diplomatura">

        <div class="diplomatura-header">
            <div class="certificado">
                <img src="{{escarapelaIconPath}}" />
                <p class="badge-number">1</p>
            </div>
            <div class="diplomatura-title">
                <h4>"DIPLOMATURA SUPERIOR EN INFANCIAS Y ADOLESCENCIAS DESDE UNA
                    PERSPECTIVA DE GÉNERO, DERECHOS Y AUTOCUIDADO"</h4>
            </div>
        </div>

        <div class="content">
            <div class="contentInfo">
                <h4>Contiene:</h4>
                <ul class="list">
                    <li class="list-item"><span class="list-title">MODULO Nº1 :</span> La Educación Sexual Integral</li>
                    <li class="list-item"><span class="list-title">MODULO Nº2 :</span> Inserción de la ESI en la escuela</li>
                    <li class="list-item"><span class="list-title">MODULO Nº3 :</span> La ESI y las etapas de la vida</li>
                    <li class="list-item"><span class="list-title">MODULO Nº4 :</span> La ESI y los derechos</li>
                    <li class="list-item"><span class="list-title">MODULO Nº5 :</span> La ESI y la violencia</li>
                    <li class="list-item"><span class="list-title">MODULO Nº6 :</span> La ESI y la Situaciones conflictivas</li>
                    <li class="list-item"><span class="list-title">MODULO Nº7 :</span> La ESI y e Internet</li>
                  </ul>
            </div>
            <div class="contentDetails">
                <div class="onlineContainer">
                    <img src="{{onlineIconPath}}" />
                    <h5>¡Suma puntos y haz valer tu tiempo!</h5>
                </div>
            </div>
            
        </div>

        <div class="moreContent">
            <div class="moreContentInfo">
                <h5>
                    Esta diplomatura propone dar a conocer la
                    importancia de incorporar la ESI a las
                    practicas educativas , lo que exige redefinir
                    los roles en los distintos ámbitos y niveles
                    institucionales, creando nuevas
                    herramientas conforme a los niños, niñas y
                    adolescentes, atravesados por distintas
                    realidades y tensiones sociales.
                </h5>
                <h5>
                    El marco que legisla la enseñanza de la educación sexual integral esta
                    sustentado en la ley 26150, incorporándola a todos los niveles educativos. La
                    provincia de Buenos Aires promulga la ley 13066(1) y la ley 14744 , y a nivel
                    Nacional promoviendo los derechos, la salud y la prevención se enmarca en las
                    leyes 25673 , 23798, 26485 y 26061(2) y la Ley Nº 23.849(3).
                </h5>
            </div>
        </div>

    </div>

</div>