<div class="landing-container">
  <div class="header-container">
    <div class="conexiones-image-container header-element">
      <img src="{{ conexionesImagePath }}" alt="">
    </div>
    <div class="logo-image-container header-element">
      <img src="{{ logoImagePath }}" alt="">
    </div>
    <div class="thirdColumn header-element"></div>
  </div>

  <div id="banner-cultura" class="banner-cultura">
    <img src="{{ bannerPath }}" alt="">
  </div>

  <div id="nosotros" class="quienes-somos-container">
    <div class="quienes-somos">
      <div class="global-icon-container">
        <img src="{{ globalImagePath }}" alt="">
      </div>
      <div class="texto-container">
        <p>Somos una empresa con más de 20 años de trayectoria en el mercado.</p>
        <p>Nuestro principal objetivo es <span class="palabra-clave">capacitar</span> a todos
          los docentes para una formación profesional de calidad
          con <span class="palabra-clave">diplomaturas</span>, <span class="palabra-clave">actualizaciones</span>,
          <span class="palabra-clave">textos digitales</span> y mucho más.
        </p>
        <h3>¿Por qué nosotros?</h3>
        <p>Sencillo, tenemos el prestigio y todas las herramientas
          que necesitas para ejercer la titularidad como docente.
        </p>
      </div>
    </div>
    <div class="mapa">
      <img src="{{ mapaImagePath }}" alt="">
    </div>
  </div>


</div>
