$verde: #8FC88A;
$negro: #000000;
$blanco: #F3F3F3;

$telefono:"576px";
$tablet:"1070px";

.landing-container {
    height: auto;
    width: 100%;
    max-width: 100%;
    
    .header-container {
        height: 85vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-image: url('/assets/images/textura.jpg');
        background-repeat: no-repeat;
        background-position: center; 

        .header-element{
            height: 100%;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .conexiones-image-container{
            img {
                height: 60vh;
            }
        }

        .logo-image-container {
            width: 20%;

            img {
                height: 40vh;
            }
        }

    }

    .banner-cultura {
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: center; 
        padding-top: 5vh;
        background-color: $verde;
    }

    .quienes-somos-container {
        height: 80vh;
        width: 100%;
        background-color: $blanco;
        display: flex;
        flex-direction: row;
        
        .quienes-somos {
            display: flex;
            flex-direction: column;
            padding: 10vh 10vw;
            width: 70%;
            height: 100%;

            .texto-container {
                margin-top: 5vh;

                p {
                    font-size: 20px;

                    .palabra-clave {
                        font-weight: 700;
                    }
                }

                h3 {
                    font-weight: 700;
                }
            }
        }

        .mapa {
            width: 30%;
        }
    }
}

@media (max-width: $tablet) {

    .landing-container {
        .header-container {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .conexiones-image-container{
                display: none;
            }
    
            .logo-image-container {
                img {
                    height: 40vh;
                }
            }

            .thirdColumn{
                display: none;
            }
        }

        .banner-cultura {
            padding-top: 0;
            height: 70vh;

            img{
                width: 100%;
                height: auto;
            }
        }
    
        .quienes-somos-container {
            height: 100%;
            width: 100%;
            flex-direction: column;
            
            .quienes-somos {
                width: 100%;
    
                .texto-container {
                    margin-top: 5vh;
    
                    p {
                        font-size: 20px;
    
                        .palabra-clave {
                            font-weight: 700;
                        }
                    }
    
                    h3 {
                        font-weight: 700;
                    }
                }
            }
    
            .mapa {
                width: 0%;
                display: none;
            }
        }
    }
    
}
